root-access:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDMV7sYg9GH4+wDWi+ZV83dRmiaQK5QxTPhtRBhaxCfx49cAgUFHEeNgkIs/SdkIzLKgDN0GrDHshpIDt4aGj7Ate+bly+GgAz8wpWIQeRLlwfSvcyf6tFBKvBq/9Haml4kUwsejju8CXif5LBCkuzFCj55mKAwVkbUS71z5RC5plSu3zPxxBNdH+MKnlkgUEg93KgoS2DzngOptmhRQ0ER37MxD8rLumW5jZ/BdeD4ottj4oEaEC8YSvMbrC3R5it3WWLImUWq9ia/FddqG1FnznrjAk3AGoBBqul+voGPHle6/xKNvO/Gk46hpZATj4UEqdqYUMe0chd4iUEaD9Pb johno@Jans-Mac-mini.local
